@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1  class="display-4">Welcome to PlaneEncyclopedia!</h1>
    <p class = >A place for sharing knowledge about aircraft.</p>
       
    </div>
   
</div>
